.container{
    display: grid;
    width: 37.5rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1.25rem 5rem 5rem 5rem 5rem 1.25rem;
    gap: 1.25rem 2.5rem;
    margin: auto;


}

.one{
    grid-column: 1/4;
    background-color: rgb(175, 175, 175);
}
.two{
    grid-column: 1/3;
    background-color: blue;
}
.three{
    background-color: rgb(185, 185, 255);
}
.four,.five,.six{
    background-color: rgb(222, 251, 32);
}
.seven{
    background-color: rgb(185, 185, 255);
}
.eight{
    grid-column: 2/4;
    background-color: blue;
}
.neasted{
    background-color: rgb(255, 255, 255);
    grid-column: 1/4;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 2.5rem;
}
.nine{
    background-color: rgb(228, 179, 118);
}


.footer{
    grid-column: 1/4;
    background-color: rgb(175, 175, 175);
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    body{
        margin: 0;
        
    }
    .container{
        text-align: center;
        width: 90%;
        grid-template-columns:auto;
        grid-template-rows: 5rem 15rem  10rem 2rem;
        gap: 1rem 2.5rem;
        margin: auto;
    
    
    }
    .two{
        grid-column: 1/3;
        background-color: blue;
    }
    .three{

        background-color: rgb(185, 185, 255);
        
    }
    .tablet{
        display: none;
    }


}
@media(max-width: 480px) {
    body{
        margin: 0;
        margin-top: 3px;
    }
    .container{
        text-align: center;
        width: 90%;
        grid-template-columns:auto;
        grid-template-rows: 5rem 15rem 15rem   10rem;
        gap: 1rem 2.5rem;
        margin: auto;
    
    
    }
    .two{
        grid-column: 1/4;
        background-color: blue;
    }
    .three{

        background-color: rgb(185, 185, 255);
        grid-column: 1/4;
    }
    .four,.five,.six{
        background-color: rgb(222, 251, 32);
    }
    .seven{
        background-color: rgb(185, 185, 255);
    }
    .eight{
        grid-column: 2/4;
        background-color: blue;
    }
    .neasted{
        background-color: rgb(255, 255, 255);
        grid-column: 1/4;
        grid-row: 5/8;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 15rem 15rem ;
         gap: 2.5rem 2.5rem;
    }
    .nine{
        background-color: rgb(228, 179, 118);
    }
    
    
    .footer{
        grid-column: 1/4;
        background-color: rgb(175, 175, 175);
    }


}
